DeviceCommunicationExtJsWeb/Service References/DeviceService/CarPass.Domains.Communications.ValueObjects11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarPass.Domains.Communications.ValueObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarPass.Domains.Communications.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeployScheduleElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeployedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventArg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeployScheduleElement" nillable="true" type="tns:DeployScheduleElement" />
  <xs:complexType name="DeviceConfId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imei" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceConfId" nillable="true" type="tns:DeviceConfId" />
  <xs:complexType name="DeviceConf">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentConfRevision" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="tns:DeviceConfId" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceConf" nillable="true" type="tns:DeviceConf" />
</xs:schema>